* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  width: 100%;
  height: 100vh;
  animation: scroll-hidden 2s ease 0s forwards;
}

p,
label {
  font-family: 'Ubuntu', sans-serif;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes btn-scroll-down {

  0%,
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scroll-hidden {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    /* -webkit-filter: drop-shadow(0px 0px 50px rgba(247, 247, 247, 0.5)) drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.9));
            filter: drop-shadow(0px 0px 50px rgba(247, 247, 247, 0.5)) drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.9)); */
  }
}

/* MODAL ANIMATION */
@keyframes slideTopIn {
  to {
    top: 10%;
    opacity: 1;
  }
}

@media screen and (min-width: 320px) {

  .rk-page-wrapper,
  .rk-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background-color: #1c1c1c;
    border: 30px solid #000;
  }

  .rk-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  .rk-preloader-inner {
    text-align: center;
    margin-top: -45px;
  }

  /* OVERLAY */
  .rk-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    /* block */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(72, 126, 235, 0.80);
  }

  /* MODAL */
  .rk-modal {
    width: 800px;
    display: none;
    /* table */
    position: fixed;
    padding: 30px;
    border-radius: 0px 30px 30px 30px;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1200;
    opacity: 0;
  }

  .rk-modal-header,
  .rk-modal-body,
  .rk-form {
    width: 100%;
    display: table;
    position: relative;
  }

  .rk-modal-close {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: #bcbcbc;
    text-align: center;
    line-height: center;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    border: none;
    background-color: #2b2828;
  }

  /* MODAL FORM */
  .rk-form,
  label {
    margin-bottom: 8px;
    font-size: 16px;
    display: inline-block;
  }

  .rk-field,
  .rk-textarea {
    width: 100%;
    background-color: #2b2828;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-indent: 16px;
  }

  .rk-field {
    height: 45px;
  }

  /* NAVBAR TOP */
  .rk-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .rk-logo {
    width: 74px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background-color: #487EEB;
    border-radius: 0px 0px 37px 0px;
  }

  .rk-logo img {
    width: 62px;
    height: 31px;
    display: block;
    margin: 50px auto 0 auto;
  }

  .rk-menu {
    display: none;
  }

  .rk-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #487EEB;
    background-image: url('../../../assets/icon-contact/icon-contato.svg');
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    border: none;
  }

  .rk-contact-info {
    width: 252px;
    height: 172px;
    padding: 24px;
    position: fixed;
    bottom: 122px;
    right: 64px;
    z-index: 200;
    display: none;
    cursor: pointer;
  }

  .rk-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .rk-contact-info-inner p {
    font-size: 18px;
    line-height: 24px;
  }

  .rk-social-links {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -12px;
  }

  .rk-social {
    width: 45px;
    height: 45px;
    display: inline-block;
  }

  .rk-social>img {
    width: 28px;
    height: auto;
    display: block;
    margin: 12px auto 0px;
  }

  .rk-corner {
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    display: relative;
  }

  .rk-corner:after {
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -24px;
    right: 0;
    background: transparent url('../../../assets/icon-contact/corner.svg') no-repeat;
  }

  /* HOME */
  .rk-display-text {
    margin-top: 150px;
  }

  #rk-home-presentation {
    background-image: url('../../../assets/img/ricardo-pres-4.png');
    background-repeat: no-repeat;
    background-position: 60% bottom;
    position: relative;
  }

  /* SCROL DOWN */
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #bcbcbc;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }

  .scroll-down::after,
  .scroll-down::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #bcbcbc;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;

    animation: scroll-down 1s ease-in-out infinite;
  }

  .scroll-down::after {
    top: 30%;
    animation-delay: .5s;
  }

  .btn-scroll {
    animation: btn-scroll-down 2s ease forwards;
  }

  .label-scroll {
    color: #bcbcbc;
    position: absolute;
    font-size: 12px;
    left: 48%;
    bottom: 80px;
  }

  /* PORTFOLIO NAVIGATOR (MENU LATERAL) */
  .rk-portfolio-navigator {
    width: 145px;
    height: 400px;
    /* 400 ^ */
    display: table;
    position: absolute;
    left: 0;
    top: 25vh;
  }

  .rk-navigator-counter {
    width: 100%;
    height: 90px;
    /* 90 ^ */
    display: block;
    margin-bottom: 30px;
    /* 60 ^ */
    position: relative;
  }

  .rk-navigator-counter:before {
    content: '';
    display: block;
    width: 25px;
    height: 100%;
    background-color: #1c1c1c;
    position: absolute;
    top: 20px;
    left: 0;
  }

  .rk-navigator-counter span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    font-weight: 500;
  }

  .rk-item-navigator {
    width: 100%;
    display: table;
    /* background-color: green; */
  }

  .rk-item-navigator a {
    width: 20px;
    height: 2px;
    /* background-color: yellow; */
    display: block;
    margin: 0px 0px 50px 25px;
    background-color: #4d4c4c;
  }

  .rk-item-navigator a:last-child {
    margin-bottom: 30px;
  }

  .rk-item-navigator a.rk-item-active {
    /* width: 55px; */
    background-color: #487EEB;
  }

  .rk-items-counter {
    font-family: 'Ubuntu', sans-serif;
  }

  .rk-items-counter span:nth-child(1) {
    color: #4d4c4c;
  }

  .rk-items-next-prev {
    width: 100%;
    height: 45px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
  }

  .rk.rk-items-next-prev>div {
    height: 45px;
  }

  .rk-item-prev,
  .rk-item-next {
    width: 36px;
    text-align: center;
    cursor: pointer;
  }

  .bi {
    font-size: 24px;
    color: #487EEB;
  }

  /* SLIDER */
  .rk-slider-container {
    /* width: 100%; */
    background-color: white;
    display: block;
    overflow: hidden;
  }

  .rk-slider-list {
    width: auto;
    height: 500px;
    display: block;
    background-color: deeppink;
    list-style: none;
  }

  .rk-slider-item {
    display: inline-block;
    /* width: 300px; */
    height: 300px;
    /* display: block;
    float: left; */
  }

}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
  .rk-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }

  .rk-menu a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #bcbcbc;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px 0 20px;
    font-weight: 400;
    position: relative;
  }

  .rk-menu a:first-child {
    margin-left: 0;
  }

  .rk-menu a:hover {
    color: #487EEB;
  }

  .rk-menu a:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #487EEB;
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .rk-menu a:hover:before {
    transform: scale(1, 1);
  }

}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1364px) {}

@media screen and (min-width: 1600px) {}

/* CLASSES UTILITÁRIAS */
/* BOTOES */
.rk-btn {
  display: table;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  border: none;
  transition: all 0.2s ease-out;
  text-transform: lowercase;
}

.rk-btn-block {
  display: block;
  width: 100%;
}

.rk-btn-small {
  height: 28px;
  padding: 0px 20px;
  border-radius: 14px;
  font-size: 12px;
}

.rk-btn-medium {
  height: 38px;
  padding: 0px 27px;
  border-radius: 19px;
  font-size: 14px;
}

.rk-btn-large {
  height: 45px;
  padding: 0px 35px;
  border-radius: 23px;
  font-size: 16px;
}

.rk-btn-blue {
  background-color: #487EEB;
  color: #1c1c1c;
}

.rk-btn-blue:hover {
  background-color: #244993;
  color: #fff;
}

.rk-btn-dark {
  background-color: #151515;
  color: #487EEB;
}

.rk-btn-dark:hover {
  background-color: #2b2828;
  color: #fff;
}



/* TEXT */
.rk-text-blue {
  color: #487EEB;
}

.rk-text-dark {
  color: #4d4c4c;
}

.rk-text-light {
  color: #bcbcbc;
}

.rk-text-black {
  color: #000;
}

/* BACKGROUD */
.rk-bg-blue {
  background-color: #487EEB;
}

.rk-bg-dark {
  background-color: #4d4c4c;
}

.rk-bg-light {
  background-color: #bcbcbc;
}

.rk-bg-black {
  background-color: #000;
}

/* MARGEM */
.rk-m-16 {
  margin: 16px;
}

.rk-m-top-16 {
  margin-top: 16px;
}

.rk-m-bottom-16 {
  margin-bottom: 16px;
}

.rk-m-right-16 {
  margin-right: 16px;
}

.rk-m-left-16 {
  margin-left: 16px;
}

/* PADDING - 4 */
.rk-p-4 {
  padding: 4px;
}

.rk-p-top-4 {
  padding-top: 4px;
}

.rk-p-bottom-4 {
  padding-bottom: 4px;
}

.rk-p-right-4 {
  padding-right: 4px;
}

.rk-p-left-4 {
  padding-left: 4px;
}

/* PADDING - 16 */
.rk-p-16 {
  padding: 16px;
}

.rk-p-top-16 {
  padding-top: 16px;
}

.rk-p-bottom-16 {
  padding-bottom: 16px;
}

.rk-p-right-16 {
  padding-right: 16px;
}

.rk-p-left-16 {
  padding-left: 16px;
}

/* PADDING - 24 */
.rk-p-24 {
  padding: 24px;
}

.rk-p-top-24 {
  padding-top: 24px;
}

.rk-p-bottom-24 {
  padding-bottom: 24px;
}

.rk-p-right-24 {
  padding-right: 24px;
}

.rk-p-left-24 {
  padding-left: 24px;
}

/* TITLE */
.rk-title-big {
  font-size: 80px;
}

.rk-title {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

/* SEGUNDA SECTION */
.rk-full-height {
  height: 100vh;
  position: relative;
}

.rk-first-section {
  height: calc(100vh - 30px);
}

/* CLASSES DE COMPORTAMENTO */
.rk-is-open {
  display: block;
}

/* Modal */
.rk-slide-top-in {
  animation: slideTopIn 0.6s forwards cubic-bezier(.17, .67, .83, .67);
}

.rk-change-icon {
  background-position-y: -45px;
}

.rk-fade-out {
  animation: fadeOut 2s forwards ease-out;
}

.rk-no-radius-left {
  border-start-start-radius: 0;
  border-bottom-left-radius: 0;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}