<div class="body">
  <div class="rk-preloader" preLoaded [ngClass]="fadePreLoad">
    <div class="rk-preloader-inner">
      <img class="rk-m-bottom-16" src="../../../assets/loader/bear.svg" alt="Kuma">
      <p class="rk-text-light rk-m-top-16">Aguarde um pouco... o urso está acordando</p>
    </div>
  </div>

  <div class="rk-overlay rk-toggle-modal"></div>
  <div class="rk-menu-overlay rk-toggle-menu"></div>

  <div class="rk-modal rk-bg-black" id="rk-modal-mensagem">
    <div class="rk-modal-header">
      <h1 class="rk-title rk-text-blue">Deixe sua mensagem</h1>
      <button class="rk-modal-close rk-toggle-modal">X</button>
    </div>

    <div class="rk-modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p class="rk-text-light">Por favor informe seus dados e eu entrarei em contato com você o mais breve possível.
          </p>
        </div>
      </div>

      <div class="row rk-m-top-16">
        <div class="col-sm-12">
          <form class="rk-form">
            <div class="row">
              <div class="col-sm-12 col-md-6 rk-p-right-4 rk-m-bottom-16">
                <label class="rk-text-light" for="nome">Nome</label>
                <input class="rk-field" type="text" name="nome" id="rk-nome">
              </div>

              <div class="col-sm-12 col-md-6 rk-p-left-4 rk-m-bottom-16">
                <label class="rk-text-light" for="email">Email</label>
                <input class="rk-field" type="email" name="email" id="rk-email">
              </div>

              <div class="col-sm-12 col-md-6 rk-p-right-4 rk-m-bottom-16">
                <label class="rk-text-light" for="telefone">Telefone</label>
                <input class="rk-field" type="tel" name="telefone" id="rk-telefone">
              </div>

              <div class="col-sm-12 col-md-6 rk-p-left-4 rk-m-bottom-16">
                <label class="rk-text-light" for="site">Site</label>
                <input class="rk-field" type="text" name="site" id="rk-site">
              </div>

              <div class="col-sm-12 col-md-12 rk-m-top-16">
                <label class="rk-text-light" for="mensagem">Deixe sua mensagem</label>
                <textarea class="rk-textarea" name="mensagem" id="rk-mensagem" rows="3"></textarea>
              </div>
            </div>

            <div class="row justify-content-end rk-m-top-16">
              <div class="col-sm-12 col-md-6">
                <button class="rk-btn rk-btn-large rk-btn-blue rk-btn-block">
                  Enviar
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <header class="rk-topbar">
    <div class="rk-logo" routerLink="/home">
      <img src="../../../assets/loader/bear.svg" alt="Ricardo Kumagae">
    </div>

    <nav class="rk-menu">
      <a routerLink="/home">Home</a>
      <!-- <a href="#">Projetos</a>
      <a href="#">Sobre</a> -->
    </nav>
  </header>

  <button class="rk-btn-menu-mobile" routerLink="/home">
    home
  </button>
  <!-- <button class="rk-btn-menu-mobile rk-toggle-menu" (click)="menu()">
    <i class="bi bi-list" *ngIf="!open; else close"></i>
    <ng-template #close>
      <i class="bi bi-x-lg"></i>
    </ng-template>
  </button> -->
  <!-- <nav class="rk-menu-mobile rk-menu-is-closed">
    <a routerLink="/home">Home</a>
    <a href="#">Projetos</a>
    <a href="#">Sobre</a>
  </nav> -->

  <div class="rk-contact-info rk-bg-black rk-text-light" [ngClass]="openBoxContact">
    <div class="rk-contact-info-inner">
      <h2 class="rk-title rk-text-blue">Contato</h2>
      <p>ric_bap@hotmail.com</p>
      <p>55 (19) 9 9659-2800</p>
      <div class="rk-social-links">
        <a href="#" class="rk-social">
          <img src="../../../assets/icon-contact/instagram.svg" alt="Instagram">
        </a>
        <a href="#" class="rk-social">
          <img src="../../../assets/icon-contact/linkedin.svg" alt="Linkedin">
        </a>
        <a href="#" class="rk-social">
          <img src="../../../assets/icon-contact/dribbble.svg" alt="Dribbble">
        </a>
      </div>
    </div>

    <div class="rk-corner">
    </div>
  </div>

  <button class="rk-btn-contact" btnContactIconChange (click)="contactInfo()">
  </button>

  <div class="rk-page-wrapper">
    <section class="rk-full-height rk-first-section rk-home-presentation">

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-2 offset-md-1"></div>
          <div class="col-sm-6 col-sm-2 offset-sm-1 col-md-4 offset-md-1 col-lg-3 offset-lg-2 rk-display-text">
            <h1 class="rk-title rk-text-blue rk-title-xlarge">Olá!</h1>
            <p class="rk-text-light rk-p-bottom-24">Meu nome é <span class="rk-text-blue">Ricardo Kumagae</span>, sou
              designer de <span class="rk-text-blue">UX e UI</span>.
            </p>
            <button class="rk-btn rk-btn-large rk-btn-blue rk-toggle-modal" type="button" disabled>
              Deixe sua mensagem
            </button>
          </div>
        </div>
      </div>

      <div class="btn-scroll-hidden">
        <div class="btn-scroll">
          <div class="label-scroll">SCROLL DOWN</div>
          <div class="scroll-down"></div>
        </div>
      </div>

    </section>

    <section class="rk-full-height" id="rk-index-portfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-2 order-2 order-sm-2 order-md-1">
            <div class="rk-portfolio-navigator ">
              <div class="rk-navigator-counter d-none d-sm-none d-md-block">
                <span class="rk-text-blue">0{{ currentSlider }}</span>
              </div>
              <nav class="rk-item-navigator d-none d-sm-none d-md-block">
                <a class="rk-item-active" *ngIf="currentSlider === 1; else noActive" href="#"></a>
                <ng-template #noActive>
                  <a href="#"></a>
                </ng-template>

                <a class="rk-item-active" *ngIf="currentSlider === 2; else noActive" href="#"></a>
                <ng-template #noActive>
                  <a href="#"></a>
                </ng-template>

                <a class="rk-item-active" *ngIf="currentSlider === 3; else noActive" href="#"></a>
                <ng-template #noActive>
                  <a href="#"></a>
                </ng-template>

                <a class="rk-item-active" *ngIf="currentSlider === 4; else noActive" href="#"></a>
                <ng-template #noActive>
                  <a href="#"></a>
                </ng-template>

                <a class="rk-item-active" *ngIf="currentSlider === 5; else noActive" href="#"></a>
                <ng-template #noActive>
                  <a href="#"></a>
                </ng-template>
              </nav>
              <div class="rk-items-next-prev rk-no-radius-left">
                <div class="rk-item-prev" (click)="prevCounter()">
                  <i class="bi bi-caret-left-fill"></i>
                </div>

                <div class="rk-items-counter">
                  <span>{{ currentSlider }}</span>
                  /
                  <span>0{{ sliderTotalItems }}</span>
                </div>

                <div class="rk-item-next" (click)="nextCounter()">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-10 order-1 order-sm-1 order-md-2">
            <div class="rk-slider-container rk-full-height" [style.width.px]="widthChild">
              <ul class="rk-slider-list rk-full-height" [style.width.px]="sliderWidthList">

                <li class="rk-slider-item" [style.width.px]="widthChild">
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      <div class="order-2 order-md-2 order-sm-1">
                        <div class="rk-portfolio-item-info rk-text-light">
                          <h1 class="rk-title rk-title-medium rk-m-bottom-16">Mockups para ilustração</h1>
                          <p class="rk-m-bottom-16">Mockups para ilustrar melhor as suas páginas.</p>
                          <button class="rk-btn rk-btn-large rk-btn-blue">ver projeto</button>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-1 col-md-1 d-md-block"></div>

                    <div class="col-sm-12 col-md-7">
                      <div class="order-1 order-md-1 order-sm-2">
                        <div class="rk-portfolio-item-thumb rk-text-light">
                          <!--d-none d-sm-none d-md-block-->
                          <img class="teste" src="../../../assets/img/ricardo-card.svg" alt="Ricardo Kumagae">
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="rk-slider-item" [style.width.px]="widthChild">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="rk-portfolio-item-info rk-text-light">
                        <h1 class="rk-title rk-title-medium rk-m-bottom-16">Startup Rockets Website</h1>
                        <p class="rk-m-bottom-16">UX, UI e WordPress para aceleradora de startups.</p>
                        <button class="rk-btn rk-btn-large rk-btn-blue">ver projeto</button>
                      </div>
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-6">
                      <div class="rk-portfolio-item-thumb rk-text-light">
                        <img class="teste" src="../../../assets/img/slider-page.svg" alt="page-1">
                      </div>
                    </div>
                  </div>
                </li>

                <li class="rk-slider-item" [style.width.px]="widthChild">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="rk-portfolio-item-info rk-text-light">
                        <h1 class="rk-title rk-title-medium rk-m-bottom-16">Startup Rockets Website</h1>
                        <p class="rk-m-bottom-16">UX, UI e WordPress para aceleradora de startups.</p>
                        <button class="rk-btn rk-btn-large rk-btn-blue">ver projeto</button>
                      </div>
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-6">
                      <div class="rk-portfolio-item-thumb rk-text-light">
                        <img class="teste" src="../../../assets/img/slider-page.svg" alt="page-1">
                      </div>
                    </div>
                  </div>
                </li>

                <li class="rk-slider-item" [style.width.px]="widthChild">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="rk-portfolio-item-info rk-text-light">
                        <h1 class="rk-title rk-title-medium rk-m-bottom-16">Startup Rockets Website</h1>
                        <p class="rk-m-bottom-16">UX, UI e WordPress para aceleradora de startups.</p>
                        <button class="rk-btn rk-btn-large rk-btn-blue">ver projeto</button>
                      </div>
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-6">
                      <div class="rk-portfolio-item-thumb rk-text-light">
                        <img class="teste" src="../../../assets/img/slider-page.svg" alt="page-1">
                      </div>
                    </div>
                  </div>
                </li>

                <li class="rk-slider-item" [style.width.px]="widthChild">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="rk-portfolio-item-info rk-text-light">
                        <h1 class="rk-title rk-title-medium rk-m-bottom-16">Startup Rockets Website</h1>
                        <p class="rk-m-bottom-16">UX, UI e WordPress para aceleradora de startups.</p>
                        <button class="rk-btn rk-btn-large rk-btn-blue">ver projeto</button>
                      </div>
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-6">
                      <div class="rk-portfolio-item-thumb rk-text-light">
                        <img class="teste" src="../../../assets/img/slider-page.svg" alt="page-1">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="square"></div>
    </section>

  </div>

</div>