<header class="rk-topbar">
  <div class="rk-logo">
    <img src="../../../assets/logo/logo.svg" alt="Ricardo Kumagae UI/UX Design">
  </div>

  <nav class="rk-menu">
    <a href="#">Home</a>
    <a href="#">Projetos</a>
    <a href="#">Sobre</a>
  </nav>
</header>

<div class="rk-contact-info rk-bg-black rk-text-light">
  <div class="rk-contact-info-inner">
    <h2 class="rk-title rk-text-blue">Contato</h2>
    <p>ric_bap@hotmail.com</p>
    <p>55 (19) 9 9659-2800</p>
    <div class="rk-social-links">
      <a href="#" class="rk-social">
        <img src="../../../assets/icon-contact/instagram.svg" alt="Instagram">
      </a>
      <a href="#" class="rk-social">
        <img src="../../../assets/icon-contact/linkedin.svg" alt="Linkedin">
      </a>
      <a href="#" class="rk-social">
        <img src="../../../assets/icon-contact/dribbble.svg" alt="Dribbble">
      </a>
    </div>
  </div>

  <div class="rk-corner">

  </div>
</div>

<div class="rk-btn-contact">

</div>

<div class="rk-page-wrapper"></div>